{% extends 'base.template.html' %}

{% block style %}
<style>
body {
        background: linear-gradient(to bottom, rgba(92, 77, 66, 0.7) 0%, rgba(92, 77, 66, 0.7) 100%), url("https://cdn.pixabay.com/photo/2016/12/26/17/28/food-1932466_960_720.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        height: 100vh;
        color: white;
}
</style>
{% endblock %}

{% block title %}
<h1 class='text-center'>Food Tracking List</h1>
{% endblock %}

{% block content %}
<h3 class='text-center'>Displayed in Table</h3>
<table class="table text-white">
    <thead>
        <tr>
            <th>Name</th>
            <th>Calories</th>
            <th>Meal</th>
            <th>Date</th>
        </tr>
    <thead>
    {% for food in all_food %}
    <tr>
        <td>{{food.name}}</td>
        <td>{{food.calories}}</td>
        <td>{{food.meal}}</td>
        <td>{{food.date}}</td>
    </tr>
    {% endfor %}
</table>

<h3 class='text-center'>Displayed in list group</h3>
<ul class="list-group">
    {% for food in all_food %}
        <li class="list-group-item list-group-item-dark text-center">{{food.name}} ({{food.calories}})</li>
    {% endfor %}
</ul>

{% endblock %}