{% extends 'base.template.html' %}

{% block content %}
<h1 class='text-center'>Welcome to food tracker app</h1>

<div class='row justify-content-center mt-5'>
    <h2><a class='text-warning' href="{{ url_for('show_add_food')}}">Go to add food</a></h2>
</div>

<div class='row justify-content-center mt-5'>
    <h2><a class='text-primary' href="{{ url_for('food_tracker')}}">Go to food tracking list</a></h2>
</div>

<div class='row justify-content-center mt-5'>
    <h2><a class='text-info' href="{{ url_for('show_add_food')}}">Add food</a></h2>
</div>

{% endblock %}