{% extends 'base.template.html' %}

{% block style %}
<style>
body {
        background: linear-gradient(to bottom, rgba(92, 77, 66, 0.7) 0%, rgba(92, 77, 66, 0.7) 100%), url("https://cdn.pixabay.com/photo/2016/12/26/17/28/food-1932466_960_720.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        height: 100vh;
        color: white;
}
</style>
{% endblock %}

{% block content %}
<h1 class='text-center'>Welcome to food tracker app</h1>

<a class='text-white' href="{{ url_for('show_add_food')}}">Go to add food</a>

{% endblock %}